<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article - <%= data[0].articleId %></title>
    <link rel="stylesheet" href="/blog.css">
    <link rel="stylesheet" href="/fonts.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Oswald:wght@200..700&family=Playwrite+CU:wght@100..400&display=swap" rel="stylesheet">

</head>
<body>
    <div class="article">
        <div class="title">
            <h1><%= data[0].title %><%= " - " %><%= data[0].articleId %></h1>
            <h3></h3>
            <h4>Owner: 
                <form action="/user/<%= data[0].userid %>" method="get">
                    <button type="submit"><%= data[0].userid %></button>
                </form>
            </h4>
        </div>
        <div class="para">
            <div class="summary">
                <p><%= data[0].summary %></p>
            </div>
            <div class="content">
                <p><%= data[0].main_text %></p>
            </div>
        </div>
    </div>
</body>
</html>